Source: dsr
Section: Productivity/Scientific/Chemistry
Priority: extra
Maintainer: Daniel Kratzert <dkratzert@gmx.de>
Build-Depends: debhelper (>= 8.0.0), xclip (>= 0)
Standards-Version: 3.9.3
Homepage: <https://www.xs3.uni-freiburg.de/research/dsr>
Vcs-Git: <git://git.debian.org/collab-maint/dsr.git>
Package: dsr
Architecture: all
Depends: xclip
Description: This program consists of a text database with fragments of molecules and 
 the DSR program. It acts as a preprocessor for SHELXL .res files. The user.
 inserts a special command in the SHELXL .res file and the DSR program reads.
 this information to put a molecule or fragment with the desired atoms on the.
 position of the target atoms specified by the user. Bond restraints are applied
 from the database to the molecule.
Version: 1.4.3
